body {
	font-size: sans-serif;
}
.how {
	width: 100%;
	height: 370px;
	background-color: #0F1721;
	position: relative;
	margin-left: -10px;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
}

.how .how-to-use {
	width: 1080px;
	display: flex;
	justify-content: center;
}

.start {
	width: 100%;
	background-color: #353E48;
	margin-left: -10px;	
	display: flex;
	justify-content: center;
	position: relative;		
}

.start-group {
	width: 1080px;
	height: 525px;
	position: relative;
	display: flex;
	box-sizing: border-box;
}

.how .how-to-use h2 {
	color: #FFF;
	position: absolute;
	top: 30px;
/*	left: 40%;*/
	font-size: 40px;
}

.how .how-to-use .inner {
	position: absolute;
/*	left: 25%;*/
	top: 145px;
	width: 1000px;
	height: 150px;
	display: flex;
}

.how .how-to-use .inner .item {
	color: #FFF;
	width: 50%;
	height: 100%;
	display: flex;
	box-sizing: border-box;
	padding-right: 30px;
}

.how .how-to-use .inner .item .icons {
	font-size: 60px;
	color: #00A2C7;
	margin-right: 30px;
	width: 60px;
	height: 60px;
}

.how .how-to-use .inner .item .content {
	display: flex;
	flex-direction: column;
}

.how .how-to-use .inner .item .content .title {
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 10px;
}

.how .how-to-use .inner .item .content span {
	font-size: 19px;
}

.how .how-to-use .inner .item .content .ins {
	color: #00A2C7;
	font-size: 20px;
	font-weight: bold;
	margin-top: 30px;
}

.how .how-to-use .inner .item .content .ins i {
	margin-left: 10px;
}

.how .how-to-use .inner .item .content .ins a{
	text-decoration: none;
	color: #00A2C7;
}

.start-group .inner {
	width: 1060px;
	height: 525px;
/*	left: 425px;*/
}

.start-group .inner .header-inner {
	width: 100%;
	height: 105px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #5D656D;
}

.start-group .inner .header-inner span a {
	color: #FFF;
	font-size: 20px;
}

li {
	margin-top: 30px;
	color: #C3C5C8;
}

li a {
	text-decoration: none;
	color: #C3C5C8;;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-weight: bold;	
}

.start-group .inner .main-inner {
	display: flex;
	color: #FFF;
	padding-top: 45px;
}

.start-group .inner .main-inner .item {
	width: 245px;
	height: 100%;
}

.start-group .inner .main-inner .last {
	width: ;
}
.start-group .inner .main-inner .last span {
	font-size: 20px;
	font-weight: bold;
}

.start-group .inner .main-inner .last .social {
	margin-top: 30px;
	margin-bottom: 40px;
}

.start-group .inner .main-inner .last .social .gallary .icon img {
	height: 25px;
	width: 25px;
	filter: grayscale(100%);
	border-radius: 2px
}

.start-group .inner .main-inner .last .social .gallary .icon {
	margin-right: 45px;
}

.start-group .inner .main-inner .last .social .gallary {
	display: flex;
}

/*.start-group .inner .main-inner .last .selected-box*/
.start-group .inner .main-inner .last .selected-box select {
	height: 100%;
	width: 100%;
	color: #FFF;
	font-size: 20px;
	padding: 0px 20px;
	-webkit-appearance:none;
	appearance: none;
	background-color: #0F1721;	
	border: none;
	border-color: #FFF;
/*	display: none;*/
}

.start-group .inner .main-inner .last .selected-box {
	width: 330px;
	height: 65px;	
	border: 1px solid #FFF;
	border-radius: 5px;
	display: flex;
	align-items: center;
/*	justify-content: space-between;*/
/*	padding: 0px 20px;*/
	box-sizing: border-box;
	background-color: #0F1721;
	position: relative;
	padding-right: 0px;
}

.start-group .inner .main-inner .last .selected-box i {
	right: 20px;
	position: absolute;
	color: #C3C5C8;
}

.start-group .inner .main-inner .last .selected-box:hover {
	border-color: #C3C5C8;
}

.end {
	width: 100%;
	color: #FFF;
	background-color: #2F363F;
	margin-left: -10px;
	height: 100px;
	padding-top: 25px;
	display: flex;
	justify-content: center;
	box-sizing: border-box;	
}

.end-in {
	width: 1070px;
	height: 100%;
	display: flex;
	align-items: center;	
}

.end-in div {
/*	margin-left: -280px;*/
}

.end-in span {
	margin-right: 40px;
}
.end-in ul {
	display: flex;
	flex-direction: row;
	list-style-type: disc;
	padding-bottom: 25px;
}

.end-in ul li {
	margin: 0px;
	color: #FFF;
}

.end-in ul span a {
	text-decoration: none;
	color: #FFF;
}

.end-in ul li a {
	text-decoration: none;
	color: #FFF;	
}